<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

    <context:component-scan base-package="com.ai.testdubbo"/>

    <!--我是谁-->
    <dubbo:application name="testweb"/>

    <!--配置注册中心-->
    <dubbo:registry address="10.21.57.56:2181" protocol="zookeeper"/>

    <!--
        告诉她我要什么类型的服务  id随便起个名字 不谢可能会出现问题
    -->
    <dubbo:reference interface="com.ai.testdubbo.TestService" id="testService"/>

</beans>